html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #ccc;
}

h2 {
  margin: 1.5rem;
  text-align: center;
  align-content: center;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

a {
  background-color: #444;
  color: white;
  text-decoration: none;
  padding: .5rem;
}

ul li a {
  display: inline-block;
  text-align: center;
}

ul li p {
  width: 24rem;
}

ul li hgroup {
  width: 16rem;
}

ul li img {
  width: 5rem;
  justify-content: space-between;
}

h3, h4 {
  margin: 0;
}
