html {
  box-sizing: border-box;
  font-family: open-Sans;
  font-family: sans-serif;
  color: #000;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #ccc;
}

h2 {
  margin: 1.5;
  text-align: center;
  align-content: center;
}

ul li {

}
a {
  background-color: #444;
  color: white;
  text-decoration: none;
  padding: .5rem;
}

ul li a {
  display: inline-block;
  text-align: center;
}

ul li p {
  width: 24 rem;

}

ul li hgroup {
  width: 16rem;
}

ul li img {
  width: 5rem;
}
