html {
  box-sizing: border-box;
  font-family: open-Sans;
  font-family: sans-serif;
  color: #000;
  line-height: 1.5;
  background-color: #ccc;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  background-color: #444;
  color: white;
}

li {
  display: flex;
}
